[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "extern/gdb-dashboard-svd"]
	path = extern/gdb-dashboard-svd
	url = git@github.com:lchagnoleau/gdb-dashboard-svd.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:lchagnoleau/nvim.git
[submodule ".config/ghostty-shaders"]
	path = .config/ghostty-shaders
	url = https://github.com/hackr-sh/ghostty-shaders.git
